<!DOCTYPE html>
	<html ng-app='itemApp'>
	<head>
		<title></title>
	</head>
	<body>
		<div>Add Item</div>

		<div>For which store?
			<select>
			  <option value="heber">Heber</option>
			  <option value="provo">Provo</option>
			</select>
		</div>
		<button>Submit</button>

		<div ng-controller='itemCtrl'>
			<form>
				Item Title: <input type='text' ng-model='item.title'><br />
				
				Item Price: <input type='text' ng-model='item.price'><br />
				
				Item Description: <input type='text' ng-model='item.description'><br />

				Item Image (url): <input type='text' ng-model='item.image'><br />
					

				<button>Save</button>
			</form>
		</div>
		<script type="text/javascript" href='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js'></script>
		<script type="text/javascript" href='itemCtrl'></script>
	</body>
	</html>