<!DOCTYPE html>
	<html ng-app='itemApp' ng-controller='itemCtrl'>
	<head>
		<title></title>
	</head>
	<body>
		<div>Add Item</div>

		<div>For which store?
			<select ng-model='store.name'>
			  <option value="heber">Heber</option>
			  <option value="provo">Provo</option>
			</select>
		</div>
		<button>Submit</button>

		<div>
			<form>
				Item Title: <input type='text' ng-model='item.title'><br />
				
				Item Price: <input type='text' ng-model='item.price'><br />
				
				Item Description: <input type='text' ng-model='item.description'><br />

				Item Image (url): <input type='text' ng-model='item.image'><br />
					

				<button ng-click='save(item)'>Save</button>
			</form>
		</div>
			<div ng-repeat='item in store.items'>
				{{item.title}}
				{{item.price}}
				{{item.description}}
				{{item.image}}
			</div>

		<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js'></script>
		<script type="text/javascript" src='itemCtrl.js'></script>
	</body>
	</html>